body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: pink;
  text-align: center;
  overflow: hidden;
}

h1 {
  margin-top: 100px;
  color: white;
  font-size: 2.8rem;
  position: relative;
  z-index: 2;
}

/* Love Button */
.love-btn {
  margin-top: 40px;
  background: red;
  color: white;
  border: none;
  padding: 18px 35px;
  font-size: 1.5rem;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.love-btn:hover {
  background: darkred;
  transform: scale(1.08);
}

/* Spotify Box */
.spotify-box {
  margin: 50px auto;
  width: 90%;
  max-width: 400px;
  position: relative;
  z-index: 2;
}

iframe {
  border-radius: 15px;
}

/* Back Button */
.back-btn {
  margin-top: 30px;
  padding: 12px 25px;
  border: none;
  background: white;
  color: red;
  font-size: 1.1rem;
  border-radius: 25px;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

/* Floating Hearts Wallpaper */
.heart {
  position: fixed;
  bottom: -20px;
  opacity: 0.7;
  pointer-events: none;
  animation-name: floatUp;
  animation-timing-function: linear;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120vh);
  }
}